{
    "token": "BOT_TOKEN",
    "admins": [ADMIN_1_DISCORD_ID, ADMIN_2_DISCORD_ID, ...],
    "database": [
       {"ip": "SERVER_IP"},
       {"db_name": "disconym"},
       {"username": "USERNAME"},
       {"password": "PASSWORD"}
    ],
    "channels": [
        {"logs_channel": LOGS_CHANNEL_ID},
        {"reports_channel": REPORTS_CHANNEL_ID}
    ]
}